
<link rel="stylesheets" href="../../public/stylesheets/style.css">
  <body>
    <%- include('../partials/_navbar.ejs') %>
      <div class="show-body">
        <div class="show-header">
          <h1>
            <%= application.title %> at <%= application.company %>
          </h1>
          <div class="show-sidebar">
            <div class="show-actions">
              <a href="/users/<%= user._id %>/applications/<%= application._id %>/edit">
                Edit App
              </a>
              <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete App</button>
              </form>
            </div>
            <p>Current Status: <%= application.status %>
            </p>
          </div>
        </div>
        <div class="show-notes-container">
          <% if (application.postingLink) { %>
            <a href="<%= application.postingLink %>" target="_blank">View job posting</a>
            <% } %>
              <% if (application.notes) { %>
                <div class="show-notes">
                  <h2>Notes:</h2>
                  <p>
                    <%= application.notes %>
                  </p>
                </div>
                <% } %>
        </div>
      </div>
  </body>
  